<html lang="" dir="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui=1">
    <title>BgImage</title>
    <link rel="stylesheet" type="text/css" href="css/main.css?v=1529488004622">

</head>
<body class="">

    <canvas id="mainCanvas" width="1920" height="937" style="width: 1920px; height: 937px;"></canvas>

    <script src="js/jquery.min.js?v=1529488004622"></script>
    <script src="js/lib/three.min.js?v=1529488004622"></script>
    <script src="js/main.min.js?v=1529488004622"></script>
    <script>
        if (self != top) {
            api.load();
        }
    </script>
</body>
</html>